<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="myConnection" providerName="System.Data.SqlClient" connectionString="Data Source=EU\SQLEXPRESS;Initial Catalog=AquaOne;Integrated Security=True"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
